:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --BOTÃO-azul: #2ee400;
    --cor-de-fundo: #15171d;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;

}

.Principal {
  background-image: url("img/Background.png");
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}
